@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=Raleway&display=swap');
body {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}
body,
#wrapper {
  background-color: #ffffff;
  transition: 0.5s;
}
h1 {
  font-weight: bold;
  color: rgb(8, 213, 216);
  font-family: 'PT Sans Caption', sans-serif;
}
h5 {
  font-weight: bold;
  text-transform: uppercase;
}
nav {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
#toggleDark {
  width: auto;
  margin-top: 1em;
}

a {
  margin-top: 1em;
  font-size: 0.8em;
  margin-left: 2em;
  color: rgb(55, 218, 142);
  font-weight: bold;
  text-decoration: underline;
  transition: 0.25s;
}
a:hover {
  color: rgb(199, 174, 233);
}
#searchButton {
  margin-left: 1em;
}
img {
  height: 200px;
}
form {
  display: flex;
  justify-content: center;
}
#searchInput {
  width: 25em;
  font-size: 1em;
  background-color: rgb(214, 249, 231);
}
#searchForm {
  margin-top: 1em;
}
/* main wrapper containing each movie div */
#wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2em;
  justify-content: space-evenly;
  column-gap: 2rem;
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 1.5em;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 600px) {
  #wrapper {
    grid-template-columns: none;
  }
  #searchInput {
    width: 20em;
    font-size: 1em;
    height: 2em;
    margin-top: 1em;
  }
  #searchButton {
    padding: 0.25em;
    width: 5em;
    height: 2em;
    margin-top: 1em;
  }
  h1 {
    font-size: 1.25em;
  }
}

#movieContainer h5 {
  text-decoration: underline;
}
#descriptionContainer {
  margin-top: 1em;
  font-size: medium;
  text-align: start;
}

/* dark mode svg hidden by default, linked to dark-mode.css */
#darkModeContainer {
  margin-top: 1.3em;
}
#darkSvg {
  display: none;
}
#sunSvg {
  color: rgb(128, 128, 77);
}
