body {
  box-sizing: border-box;
  text-align: center;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  scroll-behavior: smooth;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body,
#wrapper,
footer {
  background-color: rgb(173, 205, 201);
  color: rgb(255, 255, 255);
  transition: 0.5s;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 0.5em;
  margin: auto;
  background-color: rgb(128, 157, 128);
  border: 2px solid rgb(2, 2, 2);
  border-radius: 5px;
  text-align: left;
}

h1 {
  font-weight: bold;
}
h5 {
  font-weight: bold;
  text-transform: uppercase;
}
nav {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
#toggleDark {
  width: auto;
}

a {
  color: rgb(254, 251, 251);
  font-weight: bold;
  text-decoration: underline;
  transition: 0.25s;
}
a:hover {
  color: rgb(199, 174, 233);
}
#searchButton {
  margin-left: 1em;
  height: 2.5em;
}
img {
  height: 200px;
}
form {
  display: flex;
  justify-content: center;
}
#searchInput {
  width: 25em;
  font-size: 1em;
  background-color: rgb(234, 237, 245);
}

/* main wrapper containing each movie div */
#wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2em;
  justify-content: space-evenly;
  column-gap: 2rem;
}

/* responsive */
@media only screen and (max-width: 900px) {
  h1 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 1.5em;
  }
  footer {
    font-size: small;
    display: flex;
  }
}
@media only screen and (max-width: 600px) {
  /* small breakpoint, makes column */
  #wrapper {
    grid-template-columns: none;
  }
  #searchForm {
    margin: auto;
  }
  #searchInput {
    padding: 0.25em;
    width: 20em;
    font-size: 1em;
    height: 2em;
  }
  #searchButton {
    font-size: 10px;
    height: 2.5em;
  }

  h1 {
    font-size: 1em;
  }
}
#movieContainer {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#movieContainer h5 {
  font-size: x-large;
}
#descriptionContainer {
  margin-top: 1em;
  font-size: medium;
  text-align: start;
}

/* dark mode svg hidden by default, linked to dark-mode.css */
nav {
  margin-top: 1em;
}
#darkSvg {
  display: none;
}
#sunSvg {
  color: rgb(255, 236, 30);
}
